.tarea-3
  audio(src='{{site.baseurl}}/assets/img/tarea-3/drum-sticks.mp3', type='audio/mpeg' autoplay='autoplay')
  
  .title-tarea-3
    h2.shop-title The Virtual Drum Set
    hr.thehr
    p.shop-description Click to play sound
  
  // Generator: Adobe Illustrator 21.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)
  svg#Layer_1.svg-drum-set(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 498.9 391', style='enable-background:new 0 0 498.9 391;', xml:space='preserve')
    style(type='text/css').
      .st0{fill:#AB4326;}
      .st1{fill:#D66A28;}
      .st2{fill:#371B12;}
      .st3{fill:#582419;}
      .st4{fill:#ADACA8;}
      .st5{fill:none;stroke:#ADACA8;stroke-width:2;stroke-miterlimit:10;}
      .st6{fill:#FFFFFF;}
      .st7{fill:none;stroke:#000000;stroke-width:2;stroke-miterlimit:10;}
      .st8{fill:#979396;}
      .st9{fill:#8B959F;}
      .st10{fill:#BBBCBD;}
      .st11{fill:#AFADB0;}
      .st12{fill:none;stroke:#000000;stroke-miterlimit:10;}
      .st13{fill:#FBF7C1;}
      .st14{fill:#F6E295;}
      .st15{fill:#393322;}
      .st16{fill:#C59F62;}
      .st17{fill:#FEF7E1;}
      .st18{fill:#DDA445;}
      .st19{fill:#CE8E34;}
      .st20{fill:#CF812A;}
      .st21{fill:#E59532;}
      .st22{fill:#7F3E1C;}
      .st23{fill:#E8AC52;}
      .st24{fill:#CD8D32;}
      .st25{fill:#B76828;}
      .st26{fill:#AB5926;}
      .st27{fill:#C2772A;}
      .st28{fill:#C98C2F;}
      .st29{fill:#FAE4D0;}
      .st30{fill:#F9EDD3;}
      .st31{opacity:0.7;fill:#7F3E1C;}
    g.drum-bass.drum-sound.ci#b1
      g#bass-drum_3_
        g
          rect.st0(x='151.9', y='85', width='93.6', height='29.7')
          rect.st0(x='151.9', y='235.3', width='93.6', height='27.8')
          rect.st1(x='151.9', y='114.7', width='93.6', height='120.6')
          rect.st2(x='245.5', y='85', width='93.6', height='29.7')
          rect.st2(x='245.5', y='235.3', width='93.6', height='27.8')
          rect.st3(x='245.5', y='114.7', width='93.6', height='120.6')
        rect.st4(x='329.6', y='114.7', width='9.5', height='120')
        rect.st4(x='151.9', y='114.7', width='9.5', height='120')
        g
          line.st5(x1='285.3', y1='115.6', x2='285.3', y2='235.3')
          path.st6(d='M290.4,111.2l-2.6-5.7c-1.3-2.9-3.7-2.9-5,0l-2.6,5.7c-0.9,2.1-1,5-0.1,7.2l2.6,6.4c1.3,3.3,4,3.3,5.3,0\
          l2.6-6.4C291.3,116.2,291.3,113.2,290.4,111.2z')
          path.st6(d='M280.2,238.8l2.5,5.7c1.3,2.9,3.7,2.9,5.1,0l2.5-5.7c0.9-2.1,1-5,0.1-7.2l-2.5-6.4c-1.3-3.3-4-3.3-5.3,0\
          l-2.5,6.4C279.2,233.8,279.3,236.7,280.2,238.8z')
        g
          path.st6(d='M344.2,111.2l-2.6-5.7c-1.3-2.9-3.7-2.9-5,0l-2.6,5.7c-0.9,2.1-1,5-0.1,7.2l2.6,6.4c1.3,3.3,4,3.3,5.3,0\
          l2.6-6.4C345.1,116.2,345.1,113.2,344.2,111.2z')
          path.st6(d='M334,238.8l2.5,5.7c1.3,2.9,3.7,2.9,5.1,0l2.5-5.7c0.9-2.1,1-5,0.1-7.2l-2.5-6.4c-1.3-3.3-4-3.3-5.3,0\
          l-2.5,6.4C333,233.8,333.1,236.7,334,238.8z')
        g
          line.st5(x1='205.4', y1='115.6', x2='205.4', y2='235.3')
          path.st6(d='M210.4,111.2l-2.6-5.7c-1.3-2.9-3.7-2.9-5,0l-2.6,5.7c-0.9,2.1-1,5-0.1,7.2l2.6,6.4c1.3,3.3,4,3.3,5.3,0\
          l2.6-6.4C211.4,116.2,211.4,113.2,210.4,111.2z')
          path.st6(d='M200.3,238.8l2.5,5.7c1.3,2.9,3.7,2.9,5.1,0l2.5-5.7c0.9-2.1,1-5,0.1-7.2l-2.5-6.4c-1.3-3.3-4-3.3-5.3,0\
          l-2.5,6.4C199.3,233.8,199.4,236.7,200.3,238.8z')
        g
          path.st7(d='M151.9,235.3')
          path.st7(d='M151.9,115.6')
          path.st6(d='M157,111.2l-2.6-5.7c-1.3-2.9-3.7-2.9-5,0l-2.6,5.7c-0.9,2.1-1,5-0.1,7.2l2.6,6.4c1.3,3.3,4,3.3,5.3,0\
          l2.6-6.4C158,116.2,157.9,113.2,157,111.2z')
          path.st6(d='M146.9,238.8l2.5,5.7c1.3,2.9,3.7,2.9,5.1,0l2.5-5.7c0.9-2.1,1-5,0.1-7.2l-2.5-6.4c-1.3-3.3-4-3.3-5.3,0\
          l-2.5,6.4C145.9,233.8,145.9,236.7,146.9,238.8z')
      g#foot-pedal_3_
        polygon.st8(points='245.5,263.1 225.7,263.1 225.7,291.1 245.5,290.8 265.3,291.1 265.3,263.1 		')
        polygon.st9(points='251.9,331.2 245.5,331.2 239.1,331.2 231.4,344.9 231.4,369.5 245.5,369.5 259.6,369.5 259.6,344.9 \
        ')
        polygon.st10(points='245.5,290.8 225.7,291.1 231.4,344.9 239.1,331.2 245.5,331.2 251.9,331.2 259.6,344.9 265.3,291.1 \
        ')
        polygon.st11(points='245.5,263.1 243.1,263.1 243.1,290.8 245.5,290.8 248,290.8 248,263.1 		')
        path.st12(d='M233.8,310.4C233.8,310.4,233.8,310.4,233.8,310.4C233.8,310.4,233.8,310.4,233.8,310.4z')
        path.st13(d='M257.2,293.7c-1.2-1.9-9.3-2.8-9.3-2.8h-2.4h-2.4c0,0-8.1,1-9.3,2.8c0.1,0,0,15.7,0,16.7\
        c0-0.5,0.5-4.6,11.7-4.6c11.2,0,11.7,4,11.7,4.6C257.2,309.3,257.1,293.7,257.2,293.7z')
        path.st12(d='M257.2,310.4C257.2,310.4,257.2,310.4,257.2,310.4C257.2,310.4,257.2,310.4,257.2,310.4z')
        path.st14(d='M257.2,310.4C257.2,310.4,257.2,310.4,257.2,310.4c0-0.6-0.5-4.6-11.7-4.6c-11.2,0-11.7,4-11.7,4.6\
        c0,0,0,0.1,0,0.1s-0.4,2.9,11.7,2.9S257.2,310.4,257.2,310.4z M245.5,309.9c-1.9,0-1.9-0.5-1.9-0.5s0,0,0,0c0-0.1,0.1-0.7,1.9-0.7\
        c1.8,0,1.9,0.7,1.9,0.7c0,0,0,0,0,0S247.5,309.9,245.5,309.9z')
        path.st15(d='M247.4,309.4c0-0.1-0.1-0.7-1.9-0.7c-1.8,0-1.9,0.7-1.9,0.7c0,0,0,0,0,0s-0.1,0.5,1.9,0.5\
        C247.5,309.9,247.4,309.4,247.4,309.4C247.4,309.4,247.4,309.4,247.4,309.4z')
    g.floor-tom.drum-sound.ci#b2
      path.drum-sound#b1.ci.st16(d='M473.7,294.5c-0.7-22.4-9.7-42.7-24-57.9l3.8-3.8l-3.8-3.8l-3.8,3.8c-15.2-14.3-35.5-23.3-57.9-24v-5.4h-5.4\
      v5.4c-22.4,0.7-42.7,9.7-57.9,24l-3.8-3.8l-3.8,3.8l3.8,3.8c-14.3,15.2-23.3,35.5-24,57.9h-5.4v5.4h5.4c0.7,22.4,9.7,42.7,24,57.9\
      l-3.8,3.8l3.8,3.8l3.8-3.8c15.2,14.3,35.5,23.3,57.9,24v5.4h5.4v-5.4c22.4-0.7,42.7-9.7,57.9-24l3.8,3.8l3.8-3.8l-3.8-3.8\
      c14.3-15.2,23.3-35.5,24-57.9h5.4v-5.4H473.7z M385.3,381.1c-46.3,0-83.9-37.6-83.9-83.9c0-46.3,37.6-83.9,83.9-83.9\
      c46.3,0,83.9,37.6,83.9,83.9C469.2,343.5,431.7,381.1,385.3,381.1z')
      circle.st17(cx='385.3', cy='297.2', r='83.9')
    g.medium-tom.drum-sound.ci#b3
      path.st16(d='M338.9,192.3c-0.4-13.3-5.7-25.4-14.3-34.5l2.3-2.3l-2.3-2.3l-2.3,2.3c-9.1-8.5-21.1-13.9-34.5-14.3v-3.2\
      h-3.2v3.2c-13.3,0.4-25.4,5.7-34.5,14.3l-2.3-2.3l-2.3,2.3l2.3,2.3c-8.5,9.1-13.9,21.1-14.3,34.5h-3.2v3.2h3.2\
      c0.4,13.3,5.7,25.4,14.3,34.5l-2.3,2.3l2.3,2.3l2.3-2.3c9.1,8.5,21.1,13.9,34.5,14.3v3.2h3.2v-3.2c13.3-0.4,25.4-5.7,34.5-14.3\
      l2.3,2.3l2.3-2.3l-2.3-2.3c8.5-9.1,13.9-21.1,14.3-34.5h3.2v-3.2H338.9z M286.3,243.9c-27.6,0-49.9-22.4-49.9-49.9\
      c0-27.6,22.4-49.9,49.9-49.9c27.6,0,49.9,22.4,49.9,49.9C336.2,221.5,313.9,243.9,286.3,243.9z')
      circle.st17(cx='286.3', cy='193.9', r='49.9')
    g.small-tom.drum-sound.ci#b4
      path.st16(d='M223.2,192.6c-0.3-10.7-4.6-20.4-11.5-27.7l1.8-1.8l-1.8-1.8l-1.8,1.8c-7.3-6.8-17-11.1-27.7-11.5v-2.6h-2.6\
      v2.6c-10.7,0.3-20.4,4.6-27.7,11.5l-1.8-1.8l-1.8,1.8l1.8,1.8c-6.8,7.3-11.1,17-11.5,27.7h-2.6v2.6h2.6\
      c0.3,10.7,4.6,20.4,11.5,27.7l-1.8,1.8l1.8,1.8l1.8-1.8c7.3,6.8,17,11.1,27.7,11.5v2.6h2.6v-2.6c10.7-0.3,20.4-4.6,27.7-11.5\
      l1.8,1.8l1.8-1.8l-1.8-1.8c6.8-7.3,11.1-17,11.5-27.7h2.6v-2.6H223.2z M180.9,234c-22.1,0-40.1-17.9-40.1-40.1\
      c0-22.1,17.9-40.1,40.1-40.1c22.1,0,40.1,17.9,40.1,40.1C221,216.1,203.1,234,180.9,234z')
      circle.st17(cx='180.9', cy='193.9', r='40.1')
    g.snare-drum.drum-sound.ci#b5
      g
        path.st16(d='M197.1,298.5c-0.5-17.3-7.4-32.9-18.5-44.7l2.9-2.9l-2.9-2.9l-2.9,2.9c-11.7-11.1-27.4-18-44.7-18.5v-4.1\
        h-4.2v4.1c-17.3,0.5-32.9,7.4-44.7,18.5l-2.9-2.9l-2.9,2.9l2.9,2.9c-11.1,11.7-18,27.4-18.5,44.7h-4.1v4.2h4.1\
        c0.5,17.3,7.4,32.9,18.5,44.7l-2.9,2.9l2.9,2.9l2.9-2.9c11.7,11.1,27.4,18,44.7,18.5v4.1h4.2v-4.1c17.3-0.5,32.9-7.4,44.7-18.5\
        l2.9,2.9l2.9-2.9l-2.9-2.9c11.1-11.7,18-27.4,18.5-44.7h4.1v-4.2H197.1z M128.9,365.3c-35.7,0-64.7-29-64.7-64.7\
        c0-35.7,29-64.7,64.7-64.7c35.7,0,64.7,29,64.7,64.7C193.6,336.3,164.7,365.3,128.9,365.3z')
        circle.st17(cx='128.9', cy='300.6', r='64.7')
      circle(cx='128.9', cy='300.6', r='14.7')
    g.ride-cymbal.drum-sound.ci#b6
      g
        polygon.st18(points='422.8,44.8 411.2,132.5 399.7,44.8 		')
        polygon.st19(points='399.7,44.8 411.2,132.5 377.4,50.8 		')
        polygon.st20(points='377.4,50.8 411.2,132.5 357.4,62.4 		')
        polygon.st21(points='357.4,62.4 341.1,78.7 411.2,132.5 		')
        polygon.st22(points='341.1,78.7 329.5,98.7 411.2,132.5 		')
        polygon.st23(points='329.5,98.7 323.6,121 411.2,132.5 		')
        polygon.st24(points='411.2,132.5 323.6,144 323.6,121 		')
        polygon.st25(points='411.2,132.5 329.5,166.3 323.6,144 		')
        polygon.st26(points='411.2,132.5 341.1,186.3 329.5,166.3 		')
        polygon.st27(points='411.2,132.5 357.4,202.7 341.1,186.3 		')
        polygon.st28(points='411.2,132.5 377.4,214.2 357.4,202.7 		')
        polygon.st29(points='377.4,214.2 399.7,220.2 411.2,132.5 		')
        polygon.st18(points='399.7,220.2 422.8,220.2 411.2,132.5 		')
        polygon.st19(points='422.8,220.2 445.1,214.2 411.2,132.5 		')
        polygon.st20(points='445.1,214.2 465.1,202.7 411.2,132.5 		')
        polygon.st21(points='465.1,202.7 481.4,186.3 411.2,132.5 		')
        polygon.st22(points='481.4,186.3 492.9,166.3 411.2,132.5 		')
        polygon.st23(points='492.9,166.3 498.9,144 411.2,132.5 		')
        polygon.st24(points='498.9,144 498.9,121 411.2,132.5 		')
        polygon.st25(points='498.9,121 492.9,98.7 411.2,132.5 		')
        polygon.st26(points='492.9,98.7 481.4,78.7 411.2,132.5 		')
        polygon.st27(points='481.4,78.7 411.2,132.5 465.1,62.4 		')
        polygon.st28(points='465.1,62.4 445.1,50.8 411.2,132.5 		')
        polygon.st30(points='445.1,50.8 422.8,44.8 411.2,132.5 		')
      polygon.st31(points='414.2,110.1 408.3,110.1 402.6,111.6 397.5,114.6 393.3,118.7 390.3,123.9 388.8,129.6 388.8,135.5 \
      390.3,141.2 393.3,146.3 397.5,150.4 402.6,153.4 408.3,154.9 414.2,154.9 419.9,153.4 425,150.4 429.2,146.3 432.1,141.2 \
      433.7,135.5 433.7,129.6 432.1,123.9 429.2,118.7 425,114.6 419.9,111.6 	')
      polygon(points='412.2,125.5 410.3,125.5 408.5,126 406.9,126.9 405.6,128.2 404.7,129.8 404.2,131.6 404.2,133.4 404.7,135.2 \
      405.6,136.8 406.9,138.1 408.5,139 410.3,139.5 412.2,139.5 413.9,139 415.5,138.1 416.8,136.8 417.8,135.2 418.2,133.4 \
      418.2,131.6 417.8,129.8 416.8,128.2 415.5,126.9 413.9,126 	')
      polygon.st6(points='411.5,130.7 411,130.7 410.5,130.8 410.1,131.1 409.8,131.4 409.6,131.8 409.4,132.3 409.4,132.7 \
      409.6,133.2 409.8,133.6 410.1,133.9 410.5,134.2 411,134.3 411.5,134.3 411.9,134.2 412.3,133.9 412.7,133.6 412.9,133.2 \
      413,132.7 413,132.3 412.9,131.8 412.7,131.4 412.3,131.1 411.9,130.8 	')
    g.hit-hat.drum-sound.ci#b7
      g
        polygon.st18(points='67.6,162.1 59.7,221.8 51.8,162.1 		')
        polygon.st19(points='51.8,162.1 59.7,221.8 36.7,166.1 		')
        polygon.st20(points='36.7,166.1 59.7,221.8 23,174 		')
        polygon.st21(points='23,174 11.9,185.1 59.7,221.8 		')
        polygon.st22(points='11.9,185.1 4.1,198.7 59.7,221.8 		')
        polygon.st23(points='4.1,198.7 0,213.9 59.7,221.8 		')
        polygon.st24(points='59.7,221.8 0,229.6 0,213.9 		')
        polygon.st25(points='59.7,221.8 4.1,244.8 0,229.6 		')
        polygon.st26(points='59.7,221.8 11.9,258.4 4.1,244.8 		')
        polygon.st27(points='59.7,221.8 23,269.5 11.9,258.4 		')
        polygon.st28(points='59.7,221.8 36.7,277.4 23,269.5 		')
        polygon.st29(points='36.7,277.4 51.8,281.5 59.7,221.8 		')
        polygon.st18(points='51.8,281.5 67.6,281.5 59.7,221.8 		')
        polygon.st19(points='67.6,281.5 82.7,277.4 59.7,221.8 		')
        polygon.st20(points='82.7,277.4 96.4,269.5 59.7,221.8 		')
        polygon.st21(points='96.4,269.5 107.5,258.4 59.7,221.8 		')
        polygon.st22(points='107.5,258.4 115.3,244.8 59.7,221.8 		')
        polygon.st23(points='115.3,244.8 119.4,229.6 59.7,221.8 		')
        polygon.st24(points='119.4,229.6 119.4,213.9 59.7,221.8 		')
        polygon.st25(points='119.4,213.9 115.3,198.7 59.7,221.8 		')
        polygon.st26(points='115.3,198.7 107.5,185.1 59.7,221.8 		')
        polygon.st27(points='107.5,185.1 59.7,221.8 96.4,174 		')
        polygon.st28(points='96.4,174 82.7,166.1 59.7,221.8 		')
        polygon.st30(points='82.7,166.1 67.6,162.1 59.7,221.8 		')
      polygon.st31(points='61.7,206.5 57.7,206.5 53.8,207.5 50.3,209.5 47.5,212.4 45.5,215.9 44.4,219.7 44.4,223.8 \
      45.5,227.6 47.5,231.1 50.3,234 53.8,236 57.7,237 61.7,237 65.6,236 69.1,234 71.9,231.1 73.9,227.6 75,223.8 75,219.7 \
      73.9,215.9 71.9,212.4 69.1,209.5 65.6,207.5 	')
      polygon(points='60.3,217 59.1,217 57.9,217.3 56.8,217.9 55.9,218.8 55.3,219.9 54.9,221.1 54.9,222.4 55.3,223.6 55.9,224.7 \
      56.8,225.6 57.9,226.2 59.1,226.5 60.3,226.5 61.5,226.2 62.6,225.6 63.5,224.7 64.2,223.6 64.5,222.4 64.5,221.1 64.2,219.9 \
      63.5,218.8 62.6,217.9 61.5,217.3 	')
      polygon.st6(points='59.9,220.5 59.5,220.5 59.2,220.6 59,220.8 58.7,221 58.6,221.3 58.5,221.6 58.5,221.9 58.6,222.2 \
      58.7,222.5 59,222.7 59.2,222.9 59.5,223 59.9,223 60.2,222.9 60.5,222.7 60.7,222.5 60.8,222.2 60.9,221.9 60.9,221.6 60.8,221.3 \
      60.7,221 60.5,220.8 60.2,220.6 	')
    g.crash-cymbal.drum-sound.ci#b8
      g
        polygon.st18(points='107.3,0 95.8,87.7 84.2,0 		')
        polygon.st19(points='84.2,0 95.8,87.7 61.9,6 		')
        polygon.st20(points='61.9,6 95.8,87.7 41.9,17.5 		')
        polygon.st21(points='41.9,17.5 25.6,33.8 95.8,87.7 		')
        polygon.st22(points='25.6,33.8 14.1,53.8 95.8,87.7 		')
        polygon.st23(points='14.1,53.8 8.1,76.1 95.8,87.7 		')
        polygon.st24(points='95.8,87.7 8.1,99.2 8.1,76.1 		')
        polygon.st25(points='95.8,87.7 14.1,121.5 8.1,99.2 		')
        polygon.st26(points='95.8,87.7 25.6,141.5 14.1,121.5 		')
        polygon.st27(points='95.8,87.7 41.9,157.8 25.6,141.5 		')
        polygon.st28(points='95.8,87.7 61.9,169.4 41.9,157.8 		')
        polygon.st29(points='61.9,169.4 84.2,175.3 95.8,87.7 		')
        polygon.st18(points='84.2,175.3 107.3,175.3 95.8,87.7 		')
        polygon.st19(points='107.3,175.3 129.6,169.4 95.8,87.7 		')
        polygon.st20(points='129.6,169.4 149.6,157.8 95.8,87.7 		')
        polygon.st21(points='149.6,157.8 165.9,141.5 95.8,87.7 		')
        polygon.st22(points='165.9,141.5 177.5,121.5 95.8,87.7 		')
        polygon.st23(points='177.5,121.5 183.4,99.2 95.8,87.7 		')
        polygon.st24(points='183.4,99.2 183.4,76.1 95.8,87.7 		')
        polygon.st25(points='183.4,76.1 177.5,53.8 95.8,87.7 		')
        polygon.st26(points='177.5,53.8 165.9,33.8 95.8,87.7 		')
        polygon.st27(points='165.9,33.8 95.8,87.7 149.6,17.5 		')
        polygon.st28(points='149.6,17.5 129.6,6 95.8,87.7 		')
        polygon.st30(points='129.6,6 107.3,0 95.8,87.7 		')
      polygon.st31(points='98.7,65.3 92.8,65.3 87.1,66.8 82,69.7 77.8,73.9 74.9,79 73.4,84.7 73.4,90.6 74.9,96.3 77.8,101.4 \
      82,105.6 87.1,108.6 92.8,110.1 98.7,110.1 104.4,108.6 109.5,105.6 113.7,101.4 116.7,96.3 118.2,90.6 118.2,84.7 116.7,79 \
      113.7,73.9 109.5,69.7 104.4,66.8 	')
      polygon(points='96.7,80.7 94.9,80.7 93.1,81.1 91.5,82.1 90.2,83.4 89.2,85 88.8,86.7 88.8,88.6 89.2,90.4 90.2,92 91.5,93.3 \
      93.1,94.2 94.9,94.7 96.7,94.7 98.5,94.2 100.1,93.3 101.4,92 102.3,90.4 102.8,88.6 102.8,86.7 102.3,85 101.4,83.4 100.1,82.1 \
      98.5,81.1 	')
      polygon.st6(points='96,85.9 95.5,85.9 95.1,86 94.7,86.2 94.3,86.6 94.1,87 94,87.4 94,87.9 94.1,88.4 94.3,88.8 \
      94.7,89.1 95.1,89.3 95.5,89.5 96,89.5 96.5,89.3 96.9,89.1 97.2,88.8 97.5,88.4 97.6,87.9 97.6,87.4 97.5,87 97.2,86.6 96.9,86.2 \
      96.5,86 	')
      
  
