.chavon-portal(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-8/background-1.jpg)")
  .container-chavon-portal
    
    .container-top
      .chavon-portal-logo
        h3 ChavoPortal
        img(src="{{site.baseurl}}/assets/img/tareas/tarea-8/logo-chavon-white.svg", title="Chavon Portal", alt="Logo Chavon White")
      
      .chavon-top-bar
        h3 Student Progress
        .progress-bar
          h4 Weeks:
          .progress-bar-group
            p 10/15
            .the-bar
              .progress-level
        //- a.view-profile(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
        //-   button.view-profile-button(title='View Profile') View Your Profile
    
    .container-bottom
      .container-side-bar
        .main-sections
          h2 Main Sections
          ul
            li: a.main-section-list.fa.fa-newspaper-o.active(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/announcements/") Announcements
            li: a.main-section-list.fa.fa-hand-paper-o(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/") ChavoGossip
            li: a.main-section-list.fa.fa-inbox(href="{{site.baseurl}}/folders/classes/interactividad/tarea-7/") Suggestion Box
            li: a.main-section-list.fa.fa-user-circle-o(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/teachers/") Teachers
        .profile-section
          //- a.profile-section-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
          .profile-pic-name
            img(src="http://fillmurray.com/50/50", title="Bill Murray", alt="Profile Pic")
            p Bill Murray
            //- .fa.fa-gear
      
      .container-content
        .content-title
          h2 Announcements
          hr
        .announcements-content
          .row-1
            .announcement
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/10/Foto--150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title Chavón is highlighted as a star in variety magazine
              a.announcement-read-more(href="http://altosdechavon.edu.do/chavon-es-destacada-como-escuela-estelar-de-cine-en-variety-magazine/", target="_blank")
                p Read More...
            .announcement.left-right
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/09/Screen-Shot-2017-09-15-at-3.32.57-PM-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title 8th fine arts international film festival
              a.announcement-read-more(href="http://altosdechavon.edu.do/8vo-festival-internacional-de-cine-fine-arts/", target="_blank")
                p Read More...
            .announcement.right
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/08/savages2017-01-150x150.jpg", title="Announcements", alt="Announcements")
              p.announcement-title Exhibition savages
              a.announcement-read-more(href="http://altosdechavon.edu.do/exposicion-savages/", target="_blank")
                p Read More...
            .announcement
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/05/Untitled-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title East or West?
              a.announcement-read-more(href="http://altosdechavon.edu.do/este-u-oeste-fotografias-de-jose-m-ramirez/", target="_blank")
                p Read More...
          .row-2
            .announcement
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/05/IMG_5545-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title Reshaping The Future
              a.announcement-read-more(href="http://altosdechavon.edu.do/reshaping-future-estilo-2017/", target="_blank")
                p Read More...
            .announcement.left-right
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2017/03/Screen-Shot-2017-03-16-at-11.10.45-AM-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title Artchavón - return to the future
              a.announcement-read-more(href="http://altosdechavon.edu.do/artchavon/", target="_blank")
                p Read More...
            .announcement.right
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2016/12/Screen-Shot-2016-12-15-at-10.18.43-AM-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title Chavón now closer to you
              a.announcement-read-more(href="http://altosdechavon.edu.do/chavon-ahora-mas-cerca-de-ti/", target="_blank")
                p Read More...
            .announcement
              img(src="http://altosdechavon.edu.do/wp-content/uploads/2016/11/Screen-Shot-2016-11-30-at-2.43.04-PM-150x150.png", title="Announcements", alt="Announcements")
              p.announcement-title Onírico by elsa cáceres
              a.announcement-read-more(href="http://altosdechavon.edu.do/onirico-por-elsa-caseres/", target="_blank")
                p Read More...
