.chavon-portal(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-8/background-3.jpg)")
  .container-chavon-portal
    
    .container-top
      .chavon-portal-logo
        h3 ChavoPortal
        img(src="{{site.baseurl}}/assets/img/tareas/tarea-8/logo-chavon-white.svg", title="Chavon Portal", alt="Logo Chavon White")
      
      .chavon-top-bar
        h3 Teachers
        .progress-bar
          h4 Weeks:
          .progress-bar-group
            p 10/15
            .the-bar
              .progress-level
        //- a.view-profile(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
        //-   button.view-profile-button(title='View Profile') View Your Profile
    
    .container-bottom
      .container-side-bar
        .main-sections
          h2 Main Sections
          ul
            li: a.main-section-list.fa.fa-newspaper-o(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/announcements/") Announcements
            li: a.main-section-list.fa.fa-hand-paper-o(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/") ChavoGossip
            li: a.main-section-list.fa.fa-inbox(href="{{site.baseurl}}/folders/classes/interactividad/tarea-7/") Suggestion Box
            li: a.main-section-list.fa.fa-user-circle-o.active(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/teachers/") Teachers
        .profile-section
          //- a.profile-section-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
          .profile-pic-name
            img(src="http://fillmurray.com/50/50", title="Bill Murray", alt="Profile Pic")
            p Bill Murray
            //- .fa.fa-gear
      
      .container-content
        .content-title
          h2 Teachers
          hr
        .chavon-teachers
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/200/200", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Abigail García
                p Graphic Design
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/300/300", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Ángel Marte
                p Graphic Design
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/550/550", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Milton Ortíz
                p Graphic Design
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/350/350", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Fidias Mora
                p Graphic Design
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/400/400", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Fernando Víctor
                p Photography
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/450/450", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Luis Marte
                p Photography
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/500/500", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Luis hidalgo
                p Fashion
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/600/600", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Anny Abate
                p Fashion
          a.teacher-img-anchor(href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/")
            .teacher-pic
              img(src="http://fillmurray.com/200/200", title="Murray", alt="Profile Pic")
              .teacher-text
                h4 Inés Sofia
                p Fashion
