
<div class="portfolio-home">
  <div class="nav-portfolio">
    <ul class="nav-horizontal-ul">
      <li class="li-left"><span><a href="{{site.baseurl}}/contact/">Contact</a></span></li>
      <li class="li-right"><span><a href="{{site.baseurl}}/about/">About</a></span></li>
    </ul>
    <ul class="nav-vertical-ul">
      <li><span><a href="{{site.baseurl}}/assets/img/portfolio/curriculum.pdf" target="_blank">Curriculum</a></span></li>
      <li><span><a href="{{site.baseurl}}/work/"> Work   </a></span></li>
    </ul>
  </div><img class="portfolio-bg-image" src="{{site.baseurl}}/assets/img/portfolio/logo-photo.png" title="Jean Soto" alt="Crazy Portrait"/>
</div>