
<div class="portfolio-home work-gallery">
  <div class="nav-portfolio"><a href="{{site.baseurl}}/"><img class="header-logo" src="{{site.baseurl}}/assets/img/portfolio/logo.svg" title="Jean Soto" alt="Jean Soto Logo"/></a>
    <ul class="nav-vertical-ul">
      <li><span><a href="{{site.baseurl}}/">Work</a></span></li>
    </ul>
  </div>
  <div class="work-show">
    <div class="left-work-column"><a href="{{site.baseurl}}/">
        <div class="work-image-container"><img class="work-image" src="http://www.fillmurray.com/600/800" title="Jean Soto" alt="Jean"/></div></a></div>
    <div class="right-work-column"><a href="{{site.baseurl}}/">
        <div class="work-image-container"><img class="work-image" src="http://www.fillmurray.com/500/500" title="Jean Soto" alt="Jean"/></div></a></div>
  </div>
</div>