
<div class="chavon-portal" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-8/background-2.jpg)">
  <div class="container-chavon-portal">
    <div class="container-top">
      <div class="chavon-portal-logo">
        <h3>ChavoPortal</h3><img src="{{site.baseurl}}/assets/img/tareas/tarea-8/logo-chavon-white.svg" title="Chavon Portal" alt="Logo Chavon White"/>
      </div>
      <div class="chavon-top-bar">
        <h3>Student Progress</h3>
        <div class="progress-bar">
          <h4>Weeks:</h4>
          <div class="progress-bar-group">
            <p>10/15</p>
            <div class="the-bar">
              <div class="progress-level"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-bottom">
      <div class="container-side-bar">
        <div class="main-sections">
          <h2>Main Sections</h2>
          <ul>
            <li><a class="main-section-list fa fa-newspaper-o" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/announcements/">Announcements</a></li>
            <li><a class="main-section-list fa fa-hand-paper-o active" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/">ChavoGossip</a></li>
            <li><a class="main-section-list fa fa-inbox" href="{{site.baseurl}}/folders/classes/interactividad/tarea-7/">Suggestion Box</a></li>
            <li><a class="main-section-list fa fa-user-circle-o" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/teachers/">Teachers</a></li>
          </ul>
        </div>
        <div class="profile-section">
          <div class="profile-pic-name"><img src="http://fillmurray.com/50/50" title="Bill Murray" alt="Profile Pic"/>
            <p>Bill Murray</p>
          </div>
        </div>
      </div>
      <div class="container-content">
        <div class="content-title">
          <h2>ChavoGossip</h2>
          <hr/>
        </div>
        <form class="form-status">
          <div class="form-group">
            <textarea class="form-control status-box" rows="2" placeholder="What have you found out?..."></textarea>
          </div>
          <div class="button-group">
            <p class="counter">140</p><a class="btn btn-primary" href="#">Post</a>
          </div>
        </form>
        <ul class="posts">
          <li>Adolfo empieza tratamiento "Crece Pelo", dice que quiere parecerse a Elvis Presley</li>
          <li>Adolfo usa tratamiento Crece Pelo</li>
          <li>Adolfo usa tratamiento Crece Pelo</li>
          <li>Adolfo usa tratamiento Crece Pelo</li>
          <li>Adolfo usa tratamiento Crece Pelo</li>
          <li>Adolfo usa tratamiento Crece Pelo</li>
        </ul>
      </div>
    </div>
  </div>
</div>