
<div class="chavon-portal" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-8/background-3.jpg)">
  <div class="container-chavon-portal">
    <div class="container-top">
      <div class="chavon-portal-logo">
        <h3>ChavoPortal</h3><img src="{{site.baseurl}}/assets/img/tareas/tarea-8/logo-chavon-white.svg" title="Chavon Portal" alt="Logo Chavon White"/>
      </div>
      <div class="chavon-top-bar">
        <h3>Teachers</h3>
        <div class="progress-bar">
          <h4>Weeks:</h4>
          <div class="progress-bar-group">
            <p>10/15</p>
            <div class="the-bar">
              <div class="progress-level"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-bottom">
      <div class="container-side-bar">
        <div class="main-sections">
          <h2>Main Sections</h2>
          <ul>
            <li><a class="main-section-list fa fa-newspaper-o" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/announcements/">Announcements</a></li>
            <li><a class="main-section-list fa fa-hand-paper-o" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/">ChavoGossip</a></li>
            <li><a class="main-section-list fa fa-inbox" href="{{site.baseurl}}/folders/classes/interactividad/tarea-7/">Suggestion Box</a></li>
            <li><a class="main-section-list fa fa-user-circle-o active" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/teachers/">Teachers</a></li>
          </ul>
        </div>
        <div class="profile-section">
          <div class="profile-pic-name"><img src="http://fillmurray.com/50/50" title="Bill Murray" alt="Profile Pic"/>
            <p>Bill Murray</p>
          </div>
        </div>
      </div>
      <div class="container-content">
        <div class="content-title">
          <h2>Teachers</h2>
          <hr/>
        </div>
        <div class="chavon-teachers"><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/200/200" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Abigail García</h4>
                <p>Graphic Design</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/300/300" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Ángel Marte</h4>
                <p>Graphic Design</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/550/550" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Milton Ortíz</h4>
                <p>Graphic Design</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/350/350" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Fidias Mora</h4>
                <p>Graphic Design</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/400/400" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Fernando Víctor</h4>
                <p>Photography</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/450/450" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Luis Marte</h4>
                <p>Photography</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/500/500" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Luis hidalgo</h4>
                <p>Fashion</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/600/600" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Anny Abate</h4>
                <p>Fashion</p>
              </div>
            </div></a><a class="teacher-img-anchor" href="{{site.baseurl}}/folders/classes/interactividad/tarea-8/profile/">
            <div class="teacher-pic"><img src="http://fillmurray.com/200/200" title="Murray" alt="Profile Pic"/>
              <div class="teacher-text">
                <h4>Inés Sofia</h4>
                <p>Fashion</p>
              </div>
            </div></a></div>
      </div>
    </div>
  </div>
</div>