.mid-term-landing-page
  .header#home
    .nav-bar
      .logo
        img.logo-svg(src="{{site.baseurl}}/assets/img/tareas/mid-term/logo-tersus.svg", title="Tersus", alt="Tersus Logo")
        h1.logo-title Tersus
      ul.nav-bar-ul
        li: a(href="#home") Home
        li: a(href="#features") Features
        li: a(href="#screenshots") Screenshots
        li: a(href="#team") Team
        li: a(href="#contact") Contact
    .header-body
      .header-text
        h1 Bringing NA meetings to the digital World
        h4 Pre-Order it now
        .app-badges
          a(href="https://www.apple.com/lae/ios/app-store/" target="_blank"): img.app-store-badge(src="{{site.baseurl}}/assets/img/tareas/mid-term/app-store-badge.svg", title="Google Play Badge", alt="Google Play Badge")
          a(href="https://play.google.com/store?hl=en" target="_blank"): img.app-store-badge(src="{{site.baseurl}}/assets/img/tareas/mid-term/google-play-badge.svg", title="Google Play Badge", alt="Google Play Badge")
      .header-image
        img.iphone-log-in(src="{{site.baseurl}}/assets/img/tareas/mid-term/iphone-top.svg", title="Iphone Log-In", alt="Iphone Log-In")
        
          
  .release-date
    .fa.fa-clock-o
    .title-mid-term
      h2.shop-title We are getting ready
      hr.thehr
      p.shop-description Subscribe to know more about the first release
    h1 November 20th, 2017
  
  
  .features-section#features
    .title-mid-term
      h2.shop-title Features
      hr.thehr
      p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
    .all-features
      .feature-column
        .feature-individual
          h2.shop-title Awesome Features
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .feature-individual
          h2.shop-title Top Notch Design
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        .feature-individual
          h2.shop-title Connect With People
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
          
      .profile-image
        img.profile-only-image(src="{{site.baseurl}}/assets/img/tareas/mid-term/profile-iphone.png", title="Screenshot", alt="Screenshot")
      
      .feature-column
        .feature-individual
          h2.shop-title Full Free Chat
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        .feature-individual
          h2.shop-title Find Nearby Meetings
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
        .feature-individual
          h2.shop-title Earn Badges
          hr.thehr
          p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
  
  .screenshot-section#screenshots
    .title-mid-term
      h2.shop-title Screenshots
      hr.thehr
      p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
    .the-screenshots
      .screenshot-image
        img.teamate-image(src="{{site.baseurl}}/assets/img/tareas/mid-term/screenshot-online-meeting.png", title="Screenshot", alt="Screenshot")
        p Online Meetings
      .screenshot-image
        img.teamate-image(src="{{site.baseurl}}/assets/img/tareas/mid-term/screenshot-map.png", title="Screenshot", alt="Screenshot")
        p Find Nearby Meetings
      .screenshot-image
        img.teamate-image(src="{{site.baseurl}}/assets/img/tareas/mid-term/screenshot-milestones.png", title="Screenshot", alt="Screenshot")
        p Achieve Personal Goals
      .screenshot-image
        img.teamate-image(src="{{site.baseurl}}/assets/img/tareas/mid-term/screenshot-new-inbox-message.png", title="Screenshot", alt="Screenshot")
        p Chat With People
    
  
  .our-team#team
    .title-mid-term
      h2.shop-title Meet Our Team
      hr.thehr
      p.shop-description Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries
    .the-teamates
      .teamate-turmus
        img.teamate-image(src="https://demo.kallyas.net/leftmenu/wp-content/uploads/sites/37/2016/11/square3.jpg", title="Iphone Log-In", alt="Iphone Log-In")
        h2 Rachel Parker
        h3 Product Designer
      .teamate-turmus
        img.teamate-image(src="http://s3-us-west-2.amazonaws.com/lightstalking-assets/wp-content/uploads/2010/02/15233618/square.jpg", title="Iphone Log-In", alt="Iphone Log-In")
        h2 Naomi Kyle
        h3 UX Researcher
      .teamate-turmus
        img.teamate-image(src="http://www.israellycool.com/wordpress/wp-content/uploads/Simon-Calllow-portrait-square-crop-500px.jpeg", title="Iphone Log-In", alt="Iphone Log-In")
        h2 Joey Tribbiani
        h3 Head of Ideas
      .teamate-turmus
        img.teamate-image(src="http://www.ishootshows.com/wp-content/uploads/2008/07/todd-owyoung-portrait-145238_COB8628-square-600px.jpg", title="Iphone Log-In", alt="Iphone Log-In")
        h2 Jorge Johnson
        h3 UI/UX Designer
    
  
  .newsletter
    img.iphone-log-in(src="{{site.baseurl}}/assets/img/tareas/mid-term/iphone-background.svg", title="Iphone Log-In", alt="Iphone Log-In")
    .subcription-form
      h1 Subscribe to Out newsletter
      p Be te first to know when the app gets released
      #mc_embed_signup
        form#mc-embedded-subscribe-form.validate(action='//tetrahedralprism.us14.list-manage.com/subscribe/post?u=91a07fff81f4f893e42cbb5f9&id=1ed1137411', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
          #mc_embed_signup_scroll
            .form-display
              .mc-field-group.group-text
                input#mce-NAME(type='text', value='', name='NAME')
                label(for='mce-NAME') Your Name...
              .mc-field-group.group-email
                input#mce-EMAIL.required.email(type='email', value='', name='EMAIL')
                label(for='mce-EMAIL') Your Email...
              input#mc-embedded-subscribe.subscribe-button(type='submit', value='Subscribe', name='subscribe')
            #mce-responses.clear
              #mce-error-response.response(style='display:none')
              #mce-success-response.response(style='display:none')
            // real people should not fill this in and expect good things - do not remove this or risk form bot signups
            div(style='position: absolute; left: -5000px;')
              input(type='text', name='b_91a07fff81f4f893e42cbb5f9_1ed1137411', tabindex='-1', value='')
  
  .landing-page-footer#contact
    .footer-row
      .logo
        img.logo-svg(src="{{site.baseurl}}/assets/img/tareas/mid-term/logo-tersus.svg", title="Tersus", alt="Tersus Logo")
        h1.logo-title Tersus
      .social-media
        a(target="_blank" href="https://www.instagram.com/").fa.fa-instagram
        a(target="_blank" href="https://www.facebook.com/").fa.fa-facebook
        a(target="_blank" href="https://www.twitter.com/").fa.fa-twitter
        a(target="_blank" href="https://www.pinterest.com/").fa.fa-pinterest-p
    .copyright
      p
        | &copy; Copyright 2017 Tersus, All Rights Reserved
        //- a(target="_blank" href="http://www.jeansoto.com") Jean Soto
