
<div class="cave-home">
  <header class="vr-header" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-air-force.jpg)">
    <div class="vr-overlay"></div>
    <nav class="nav-vr-bar"><a class="vr-logo" href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/">Virtual fixture</a>
      <ul class="nav-vr-ul">
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/">Home</a></li>
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/about/">About</a></li>
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/contact/">Contact</a></li>
      </ul>
    </nav>
    <div class="main-title">
      <h1>Virtual Reality Conceptual Preview</h1>
      <p>US Air Force 1991 </p>
    </div>
  </header>
  <div class="buttons-vr-box">
    <h2>Aircraft: AC-130</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-1.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
  <div class="buttons-vr-box2">
    <h2>Aircraft: A10</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-2.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
  <div class="buttons-vr-box">
    <h2>Aircraft: Boeing E-3</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-3.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
  <div class="buttons-vr-box2">
    <h2>Aircraft: A737</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-4.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
  <div class="buttons-vr-box">
    <h2>Aircraft: CH-53GA</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-5.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
  <div class="buttons-vr-box2">
    <h2>Aircraft: Victor XL231</h2>
    <div class="buttons-vr">
      <div class="buttons-vr-position buttons-vr-left">
        <button class="left-top">left top</button>
        <button class="left-center">left center</button>
        <button class="left-bottom">left bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-center">
        <button class="center-top">center top</button><img class="cockpit-background-img" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-6.jpg)"/>
        <button class="center-bottom">center bottom</button>
      </div>
      <div class="buttons-vr-position buttons-vr-right">
        <button class="right-top">right top</button>
        <button class="right-center">right center</button>
        <button class="right-bottom">right bottom</button>
      </div>
    </div>
  </div>
</div>