
<div class="cave-home">
  <header class="vr-header" style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/contact.jpg)">
    <div class="vr-overlay"></div>
    <nav class="nav-vr-bar"><a class="vr-logo" href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/">Virtual fixture</a>
      <ul class="nav-vr-ul">
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/">Home</a></li>
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/about/">About</a></li>
        <li><a href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/contact/">Contact</a></li>
      </ul>
    </nav>
    <div class="main-title">
      <h1>Contact Us</h1>
    </div>
  </header>
</div>
<div class="contact-form">
  <div class="form-fill-out">
    <div id="mc_form">
      <form method="POST" action="https://formspree.io/jeancarlos_soto1@hotmail.com">
        <div class="form-display">
          <div class="row-1">
            <div class="mc-field-group group-name">
              <input type="text" name="name"/>
              <label>Your Name... </label>
            </div>
            <div class="mc-field-group group-subject">
              <input type="text" name="subject"/>
              <label>Your Subject... </label>
            </div>
            <div class="mc-field-group group-email">
              <input type="email" name="_replyto"/>
              <label>Your Email... </label>
            </div>
          </div>
          <div class="row-2">
            <div class="mc-field-group group-message">
              <input type="text" name="subject"/>
              <label>Your Message... </label>
            </div>
          </div>
          <div class="group-submit">
            <input class="submit-button" type="submit" value="Submit"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>