.portfolio-home
  .nav-portfolio
    ul.nav-horizontal-ul
      li.li-left
        span: a(href="{{site.baseurl}}/contact/") Contact
      li.li-right
        span: a(href="{{site.baseurl}}/about/") About
    ul.nav-vertical-ul
      li
        span: a(href="{{site.baseurl}}/assets/img/portfolio/curriculum.pdf", target="_blank") Curriculum
      li
        span: a(href="{{site.baseurl}}/work/")  Work   
  img.portfolio-bg-image(src="{{site.baseurl}}/assets/img/portfolio/logo-photo.png", title="Jean Soto", alt="Crazy Portrait")
