.portfolio-home.work-gallery
  .nav-portfolio
    a(href="{{site.baseurl}}/"): img.header-logo(src="{{site.baseurl}}/assets/img/portfolio/logo.svg", title="Jean Soto", alt="Jean Soto Logo")
    ul.nav-vertical-ul
      li
        span: a(href="{{site.baseurl}}/") Work
  
  .work-show
    .left-work-column
      a(href="{{site.baseurl}}/")
        .work-image-container
          img.work-image(src="http://www.fillmurray.com/600/800", title="Jean Soto", alt="Jean")
    .right-work-column
      a(href="{{site.baseurl}}/")
        .work-image-container
          img.work-image(src="http://www.fillmurray.com/500/500", title="Jean Soto", alt="Jean")
      
