.tarea-5-slideshow
  header.cd-header
    #cd-logo
      a(href='#0')
        img(src='http://placehold.it/124x23', alt='Logo')
    nav.cd-primary-nav
      ul
        li
          a(href='#0') Home
        li
          a(href='#0') Portfolio
        li
          a(href='#0') Contact
    //-.cd-primary-nav
  section.cd-hero
    ul.cd-hero-slider
      li.selected
        .cd-full-width
          h2 Hero slider
          p A simple, responsive slideshow in CSS & jQuery.
          a.cd-btn(href='https://codyhouse.co/?p=675') Article & Download
        //-.cd-full-width
      li
        .cd-half-width
          h2 Slide title here
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!
          a.cd-btn(href='#0') Start
          a.cd-btn.secondary(href='#0') Learn More
        //-.cd-half-width
        .cd-half-width.cd-img-container
          img(src='http://placehold.it/435x290', alt='tech 1')
        //-.cd-half-width.cd-img-container
      li
        .cd-half-width.cd-img-container
          img(src='http://placehold.it/435x290', alt='tech 2')
        //-.cd-half-width.cd-img-container
        .cd-half-width
          h2 Slide title here
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. In consequatur cumque natus!
          a.cd-btn(href='#0') Start
          a.cd-btn.secondary(href='#0') Learn More
        //-.cd-half-width
      li.cd-bg-video
        .cd-full-width
          h2 Slide title here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.
          a.cd-btn(href='#0') Learn more
        //-.cd-full-width
        .cd-bg-video-wrapper(data-video='assets/video/video')
          //-video element will be loaded using jQuery
        //-.cd-bg-video-wrapper
      li
        .cd-full-width
          h2 Slide title here
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.
          a.cd-btn(href='#0') Start
          a.cd-btn.secondary(href='#0') Learn More
        //-.cd-full-width
    //-.cd-hero-slider
    .cd-slider-nav
      nav
        span.cd-marker.item-1
        ul
          li.selected
            a(href='#0') Intro
          li
            a(href='#0') Tech 1
          li
            a(href='#0') Tech 2
          li
            a(href='#0') Video
          li
            a(href='#0') Image
    //-.cd-slider-nav
  //-.cd-hero
  main.cd-main-content
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veniam quisquam, rem illum dicta cumque, voluptate fugiat impedit beatae rerum ratione, voluptates nisi magni delectus ab, eaque atque iste. Molestias incidunt nemo veniam alias nam nisi
      | distinctio optio error architecto odit! Illo dicta nulla fugiat distinctio laudantium, corrupti eum unde.
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veniam quisquam, rem illum dicta cumque, voluptate fugiat impedit beatae rerum ratione, voluptates nisi magni delectus ab, eaque atque iste. Molestias incidunt nemo veniam alias nam nisi
      | distinctio optio error architecto odit! Illo dicta nulla fugiat distinctio laudantium, corrupti eum unde. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit veniam quisquam, rem illum dicta cumque, voluptate fugiat impedit beatae rerum
      | ratione, voluptates nisi magni delectus ab, eaque atque iste. Molestias incidunt nemo veniam alias nam nisi distinctio optio error architecto odit! Illo dicta nulla fugiat distinctio laudantium, corrupti eum unde.
  //-.cd-main-content
