.tarea-5-slideshow
  .loading
    //-FULL SCREEN PRELOADER
    .preloader
    //-Menu
    a.link.one(href='#', style='color:#fff') Work
    a.link.two(href='#', style='color:#999') About
    #fullpage
      //-Work One
      .section
        //-Work General Info Container
        .wrapper
          .container
            //-Black Panel Transition Between Works
            .overflow
              .black
            //-White Panel Closing transition
            .overflow_white
              .white
            //-Image Slider
            .image(style='background-image: url(http://assets.awwwards.com/awards/sites_of_the_day/2017/01/resn-sotd.jpg)')
            //-Work Titles
            .work_headers
              h1 First Project
      //-Work Two
      .section
        //-Work General Info Container
        .wrapper
          .container
            //-Black Panel Transition Between Works
            .overflow
              .black
            //-White Panel Closing transition
            .overflow_white
              .white
            //-Image Slider
            .image(style='background-image: url(https://assets.awwwards.com/awards/sites_of_the_day/2016/12/awwwards-sotd-Anonymous-Hamburger-1-1.jpg)')
            //-Work Titles
            .work_headers
              h1 Second Project
