.cave-home
  header.vr-header(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-air-force.jpg)")
    .vr-overlay
    nav.nav-vr-bar
      a.vr-logo(href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/") Virtual fixture
      ul.nav-vr-ul
        li: a(href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/") Home
        li: a(href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/about/") About
        li: a(href="{{site.baseurl}}/folders/classes/interactividad/tarea-4/contact/") Contact
    .main-title
      h1 Virtual Reality Conceptual Preview
      p US Air Force 1991 
  .buttons-vr-box
    h2 Aircraft: AC-130
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-1.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
  .buttons-vr-box2
    h2 Aircraft: A10
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-2.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
  .buttons-vr-box
    h2 Aircraft: Boeing E-3
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-3.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
  .buttons-vr-box2
    h2 Aircraft: A737
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-4.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
  .buttons-vr-box
    h2 Aircraft: CH-53GA
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-5.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
  .buttons-vr-box2
    h2 Aircraft: Victor XL231
    .buttons-vr
      .buttons-vr-position.buttons-vr-left
        button.left-top left top
        button.left-center left center
        button.left-bottom left bottom
      .buttons-vr-position.buttons-vr-center
        button.center-top center top
        img.cockpit-background-img(style="background-image: url({{site.baseurl}}/assets/img/tareas/tarea-4/us-cockpit-6.jpg)")
        button.center-bottom center bottom
      .buttons-vr-position.buttons-vr-right
        button.right-top right top
        button.right-center right center
        button.right-bottom right bottom
